h1{
	color: #000000;
}

body{
	background-color: #FF9797;
	overflow: hidden;
}
.container{
	width: 500px;
	text-align: center;
	overflow: hidden;
}
.slides{
	
}
p{
	color:#5f467h;
}

.blackParagraph{
	color:#000000;
}

table, td{
	border-style: solid;
}
table{
	border-width: 1px;
	border-color: #4f0303;
	margin-left: auto;
	margin-right: auto;
}
td{
	border-width: 2px;
	border-color: #4f0323;
}


img{
	border-radius: 25px;
}

img:hover{
	opacity: 0.75;
}

ul{
	list-style-type:none;
	overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 100px;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	color: #000000;
}
li a:hover{
	background-color: #c5d0e0;
}
.active{
	border-bottom: 2px solid #000;
}