h1{
	color: #000000;
}

body{
	background-color: #FF9797;
}

p{
	color:#5f467h;
}

.blackParagraph{
	color:#130c3d;
}

table, td{
	border-style: dotted;
}
table{
	border-width: 4px;
	border-color: #4f0303;
	margin-left: auto;
	margin-right: auto;
}
td{
	border-width: 2px;
	border-color: #4f0323;
}
body{
	background-size: 100%;
}

img{
	border-radius: 25px;
}

img:hover{
	opacity: 0.75;
}

ul{
	list-style-type:none;
	background-color:#ff9797 ;
	overflow: hidden;
}
li a{
	float: left;
	display: block;
	width: 100px;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	color: #000000;
}
li a:hover{
	background-color: #ff0000;
}
.active{
	border-bottom: 2px solid #000;
}